page-register {

    .text-center{
        text-align: center;
    }
    
    ion-input{
        border-bottom:1px solid maroon;
    }

    ion-button{
        color:maroon;
        padding-bottom:30px;
    }

    ion-title{
        color:white;
    }
   
    

    

}
